<div class="footer d-flex">
  <div class="footer-links d-flex flex-column align-items-center justify-content-center">
    <div>
      <a href="https://www.github.com/nagato94" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/kaiquecostadev" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div>
      <p>by: Kaique Costa e Silva&copy; 2024</p>
    </div>
  </div>
</div>
