<div class="container mt-5">
  <h1>New Post</h1>

  <%# Simple form for creating a new post %>
  <%= simple_form_for @post, html: { class: 'form-horizontal' }, turbo: false do |f| %>
    <div class="mb-3">
      <%= f.input :title, input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
    </div>
    <div class="mb-3">
      <%= f.input :body, as: :text, input_html: { class: 'form-control', rows: 5 }, label_html: { class: 'form-label' } %>
    </div>
    <div class="mb-3">
      <%= f.button :submit, 'Create Post', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
