.card-custom {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px !important; /* Bordas arredondadas */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Sombra */
}


.card-header-custom {
  background-color: #007bff;
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px !important; /* Bordas arredondadas */

}
