.comment-custom {
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem; /* Bordas arredondadas */
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1); /* Sombra */
}
